.tin {
  height: 300px;
}


.app {
  min-height: 100vh;
  background: blueviolet;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet {
  height: 300px;
  width: 300px;
  background: pink;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.boat {
  color: brown;
}